<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BasicExpressServer</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1 class="main">welcome to server boilerplate, clone this from here
        <a href="https://github.com/Ryanhustler420/HerokuExpressServer" target="_blank">Githib</a> </h1>
    <p class="sub">We also tested thses apis with POSTMAN, Feel free to test these on your own</p>
    <p class="info">This project has everything setup to push on heroku.</p>
    <p>- Follow These Steps To Upload on heroku</p>
    <ul>
        <li>Logged in heroku from terminal</li>
        <li>run <code>heroku create</code> from the server root directory</li>
        <li>run <code>git push heroku master</code></li>
        <li>Done, Now after finishing push to heroku run <code>heroku open</code></li>
    </ul>
</body>

</html>