.main {
  font-weight: 100;
  font-size: 45px;
  text-align: center;
}

.sub {
  font-weight: 200;
  font-size: 25px;
  text-align: center;
  color: green;
}

.info {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: black;
}

.center_text {
  text-align: center;
}
